<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title || 'Express Quiz App' %>
  </title>
  <link rel="stylesheet" href="/styles/output.css" />
</head>

<body class="min-h-screen min-w-screen overflow-x-clip ">
  <div class="main h-screen w-screen bg-background bg-image">
    <nav class="p-4 gap-2 flex justify-center fixed w-full top-0 z-50">
      <nav class="bg-primary/50 text-purple-300 flex justify-evenly items-center px-4 py-2 rounded-full w-2/3">
        <div class="flex grow justify-between text-xl items-center ">
          <a href="" class="font-ramen translate-y-[3px] text-2xl">S</a>
          <a href="" class="font-poppins">HOME</a>
          <a href="" class="font-poppins">QUIZ</a>
          <a href="" class="font-poppins">SHOP</a>
          <a href="" class="font-poppins">ABOUT</a>
        </div>
      </nav>
      <nav
        class="bg-primary/50 text-purple-300 flex justify-evenly items-center px-4 py-2 rounded-full w-fit aspect-square">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
        </svg>
      </nav>
    </nav>
    <div class="flex w-full h-full">
      <div class="flex flex-col justify-end h-full w-[40%] z-10 gap-4 p-8">
        <h1 class=" text-8xl text-purple-300 font-ramen text-center translate-y-[6px]">SHITSUMON</h1>
        <div class="w-full flex justify-center">
          <hr class="text-purple-300/75 w-[80%]">
        </div>
        <p class="text-purple-300/75 text-3xl font-poppins text-center">Test your knowledge about Anime and Manga with
          questions from the Open Trivia Database!</p>
        <div class="w-full flex gap-4">
          <button
            class="grow bg-primary p-6 font-ramen text-2xl text-purple-300 rounded-2xl flex items-center justify-center gap-2"><svg
              xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-play-icon lucide-play">
              <path d="M5 5a2 2 0 0 1 3.008-1.728l11.997 6.998a2 2 0 0 1 .003 3.458l-12 7A2 2 0 0 1 5 19z" />
            </svg><span class="translate-y-[2px]">Start Quiz</span></button>
          <button
            class="grow border-3 border-primary p-6 font-ramen text-2xl text-purple-300 rounded-2xl flex items-center justify-center gap-2"><svg
              xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-swords-icon lucide-swords">
              <polyline points="14.5 17.5 3 6 3 3 6 3 17.5 14.5" />
              <line x1="13" x2="19" y1="19" y2="13" />
              <line x1="16" x2="20" y1="16" y2="20" />
              <line x1="19" x2="21" y1="21" y2="19" />
              <polyline points="14.5 6.5 18 3 21 3 21 6 17.5 9.5" />
              <line x1="5" x2="9" y1="14" y2="18" />
              <line x1="7" x2="4" y1="17" y2="20" />
              <line x1="3" x2="5" y1="19" y2="21" />
            </svg><span class="translate-y-[2px]">Quest</span></button>
        </div>
      </div>
      <!-- <div class="w-[60%] flex items-end"><img src="/images/gojo-satoru-gojo.gif" alt=""
          class="absolute bottom-0 right-[100px] w-[80%] z-1 image-edge-fade"></div> -->
      <div class="w-[60%] flex items-end"><img src="/images/gojo-satoru-gojo.gif" alt=""
          class="absolute bottom-0 right-0 w-[100%] z-0 image-edge-fade"></div>
      <!-- <div
        class="absolute top-0 right-[100px]   w-[80%] h-[100%] z-4 pointer-events-none bg-background/75 image-vertical-fade">
      </div> -->
    </div>
  </div>
  <script src="/js/quiz.js"></script>
</body>

</html>