<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title || 'Express Quiz App' %>
  </title>
  <link rel="stylesheet" href="/styles/output.css" />
</head>

<body class="min-h-screen min-w-screen overflow-x-clip bg-red-700">
  <div class="main h-screen w-screen">
    <div class="navBar w-full p-4 flex justify-center fixed top-0 z-10">
      <div class="w-4xl py-3 px-5 rounded-2xl bg-white/5 backdrop-blur-xl border border-white/10 text-white flex justify-between items-center shadow-2xl">
        <div class="grow">
          <a href="" class="font-sekuya text-sm"><span class="text-2xl">A</span></a>
        </div>
        <div class="flex justify-between grow">
          <a href="/" class="navLink">HOME</a>
          <a href="/quiz" class="navLink">QUIZ</a>
          <a href="/about" class="navLink">SHOP</a>
        </div>
        <div class="grow flex justify-end">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="min-h-screen p-8 flex items-end">
      <div class="z-20 max-w-[50%]">
        <h1 class="text-7xl leading-tight text-white z-20 font-black font-sekuya tracking-tighter mb-4">
          <span
            class="text-9xl bg-linear-to-b from-white to-gray-300 bg-clip-text text-transparent drop-shadow-[0_0_15px_rgba(255,255,255,0.3)]">A</span><span
            class="bg-linear-to-b from-white to-gray-300 bg-clip-text text-transparent">ni</span><span
            class="text-9xl bg-linear-to-b from-red-400 to-red-600 bg-clip-text text-transparent drop-shadow-[0_0_15px_rgba(239,68,68,0.4)]">Q</span><span
            class="bg-linear-to-b from-red-400 to-red-600 bg-clip-text text-transparent">uiz</span>
        </h1>
        <p class="text-3xl leading-relaxed text-white/80 font-bold font-urbanist max-w-2xl">Test your knowledge about
          Anime and Manga with questions from the Open Trivia Database!</p>
        <div class="flex gap-4 mt-8">
          <button class="btn-hero-primary w-1/2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
              <path fill-rule="evenodd"
                d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z"
                clip-rule="evenodd" />
            </svg>
            START QUIZ
          </button>
          <button class="btn-hero-secondary w-1/2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
              <path fill-rule="evenodd"
                d="M12 2.25c.334 0 .62.22.712.541l1.104 3.86a.375.375 0 0 0 .245.245l3.859 1.104a.75.75 0 0 1 0 1.44l-3.859 1.104a.375.375 0 0 0-.245.245l-1.104 3.86a.75.75 0 0 1-1.424 0l-1.104-3.86a.375.375 0 0 0-.245-.245L6.331 9.58a.75.75 0 0 1 0-1.44l3.86-1.104a.375.375 0 0 0 .245-.245l1.104-3.86a.75.75 0 0 1 .712-.541ZM5.25 15a.375.375 0 0 1 .356.27l.552 1.931a.187.187 0 0 0 .123.123l1.931.552a.375.375 0 0 1 0 .72l-1.931.552a.187.187 0 0 0-.123.123l-.552 1.931a.375.375 0 0 1-.712 0l-.552-1.931a.187.187 0 0 0-.123-.123l-1.931-.552a.375.375 0 0 1 0-.72l1.931-.552a.187.187 0 0 0 .123-.123l.552-1.931A.375.375 0 0 1 5.25 15Zm13.5 1.5a.375.375 0 0 1 .356.27l.331 1.159a.187.187 0 0 0 .123.123l1.159.331a.375.375 0 0 1 0 .72l-1.159.331a.187.187 0 0 0-.123.123l-.331 1.159a.375.375 0 0 1-.712 0l-.331-1.159a.187.187 0 0 0-.123-.123l-1.159-.331a.375.375 0 0 1 0-.72l1.159-.331a.187.187 0 0 0 .123-.123l.331-1.159a.375.375 0 0 1 .356-.27Z"
                clip-rule="evenodd" />
            </svg>
            RANDOM SHIT
          </button>
        </div>
      </div>
      <div class="vignette"></div>
      <div class="halftone absolute inset-0 pointer-events-none opacity-20 z-0"></div>
    </div>
    
    <!-- <div class="curved-edge absolute -right-155 rotate-90 backdrop-blur-lg"></div>
      <div class="curved-edge absolute -left-155 rotate-270 backdrop-blur-lg backdrop-grayscale"></div> -->
  </div>
  <script src="/js/quiz.js"></script>
</body>

</html>