@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sekuya&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sekuya&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@font-face {
    font-family: "ramen";
    src: url("../font/JAPAN\ RAMEN.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}


@theme {
    --font-quote: "EB Garamond", system-ui;
    --font-poppins: "Poppins", system-ui;
    --font-ramen: "ramen", system-ui;
    --color-primary: #2E0854;
    --color-background: #0D0616;
}

.image-edge-fade {
    -webkit-mask-image: radial-gradient(circle, #fff 30%, transparent 90%);
    mask-image: radial-gradient(circle, #fff 30%, transparent 90%);
}
.glint {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
}
.glint::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.8),
        transparent,
        rgba(255, 255, 255, 0.3)
    );
}
.quote::before {
    content: open-quote; 
}
.quote::after {
    content: close-quote; 
}




